<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Member List</title>
</head>
<body>

<h1>Member List</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="member : ${members}">
    <td th:text="${member.id}"></td>
    <td th:text="${member.username}"></td>
    <td th:text="${member.email}"></td>
    <td>
      <a th:href="@{/members/{id}(id=${member.id})}">View</a>
      <a th:href="@{/members/update/{id}(id=${member.id})}">Edit</a>
      <form th:action="@{/members/delete/{id}(id=${member.id})}" method="post" style="display:inline;">
        <button type="submit" onclick="return confirm('Are you sure you want to delete this member?');">Delete</button>
        <!-- a태그는 GET형식으로 전송된다. 그래서 form 태그를 사용한  -->
      </form>

  </tr>
  </tbody>
</table>

</body>
</html>
