<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Write List</title>
</head>
<body>
<h1>Write List</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Author</th>
    <th>Created at</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="write : ${writes}">
    <td th:text="${write.id}">1</td>
    <td><a th:href="@{/writes/{id}(id=${write.id})}" th:text="${write.title}">Title</a></td>
    <td th:text="${write.member.username}">Author</td>
    <td th:text="${#temporals.format(write.create_at, 'yyyy-MM-dd HH:mm')}">2023-08-13 12:00</td>
  </tr>
  </tbody>
</table>

<div>
  <a th:href="@{/writes/new}">Create New Write</a>
</div>
</body>
</html>
